.header {
    margin: 92px 24px 0px 24px;
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    align-items: center;
    font-size: 18px;
    letter-spacing:0.2px;
}
.header__menu {
    display: flex;
    justify-self: start;
}
.header__links-list {
    display: flex;
    margin-left: 26px;
    margin-top: 4px;
}
.header__links-list-item {
    list-style:circle;
    margin-right: 31px;
}
.header__links-list-item_no-bullit {
    list-style: none;
}
.header__link {
    border-bottom: 1px solid black;
    text-decoration: none;
}
.header__link_active {
    border: none;
    pointer-events: none;
}
.header__logo {
    display: flex;
}
.header__logo-image {
    width: 148px;
    height: 105px;
}
.header__address {
    margin: 5px 58px 2px 0px;
    justify-self: end;
    justify-items: start;
}
.address {
    font-style: normal;
    text-transform: none;
    font-size: 18px;
    display: grid;
    flex-direction: column;
    gap: 5px;
    max-width: 240px;
}
.address__underline{
    text-decoration: none;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
}
.cover {
    display: block;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-top: 96px;
    padding-bottom: 1px;
    z-index: 0;

}
.overlay {
    background-color:rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    z-index: 1;
}
.cover__title {
    padding: 165px 50px 135px 50px;
    display: block;
    flex-direction: column;
    color: white;
    font-weight: 700;
    font-size: 100px;
    text-transform: uppercase;
    line-height: 100px;
    position: relative;
    z-index: 2;
    letter-spacing:.3em;
}
.aligned-text {
    margin-bottom:20px;
    display: block;
    line-height: 115px;
}
.aligned-text_center {
    margin: 6px 60px 20px 0px;
    text-align: center;
    display: block;
    line-height: 100px;
}
.aligned-text_right {
    text-align: right;
    display: block;
    letter-spacing:.6em;
    line-height: 100px;
}
.letter-spacing-extended {
    letter-spacing:.6em;
}
.letter-spacing-extended-right {
    letter-spacing:.3em;
}
.no-letter-spacing {
    letter-spacing:0px;
}
.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px 50px 78px;
    position: relative;
    z-index: 2;
}
.cover__description-text {
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing:0px;
    word-spacing:18.5px;
}
.bet-button {
    width: 256px;
    height: 51px;
    color: white;
    background-color: rgb(255 255 255 / 0);
    border: 1px solid #fff;
    font-family:inherit; 
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 25.83px;
}
.lots {
    display: block;
    padding: 0px 24px 0px 24px;
}
.lots__heading {
    display: block;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.96px;
    margin: 180px 0px 26px 40px;
    text-transform: uppercase;
}
.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    flex-grow: 1;
}
.lots__card-list-item {
    width: 334px;
    min-height: 564px;
    flex-grow: 1
}
.card-link {
    width: 100%;
    height: 100%; 
}
.card {
    width: 100%;
    height: 100%;  
    display: grid;
    padding: 51px 40px 48px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
}
.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}
.card__title {
    color:white;
    font-weight: 700;
    font-size: 22px;
    line-height: 26.4px;
    text-transform: uppercase;
    text-decoration: underline;
    position: relative;
    z-index: 2;
    align-self: flex-start;
}
.card__text {
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    z-index: 2;
    align-self:flex-end;
}
.lots__look-more-link {
    display: block;
    margin: 30px 0px 0px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23.48px;
    text-decoration: none;
    border-bottom: 1px solid black;
    width: fit-content;
}
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    height: 595px;
    margin: 146px 24px 180px 24px;
}
.about__logo-column {
    display: grid;
    justify-content: center;
    margin: 34px 0px 0px 0px;
}
.about__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: black;
    border-radius: 50%;
}
.about__logo-image {
    object-fit: contain;
    display: flex;
    width: 150px;
    height: 150px;
}
.about__column {
    margin: 136px 0px 0px 25px;

}
.about__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
}
.about__text {
    margin-top: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.about__text-2 {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.footer {
    display: grid;
    justify-items: start;
    justify-self: start;
    grid-template-columns: repeat(3, 1fr);
    margin: 180px 50px 88px 50px;
}
.footer__address {
    display: grid;
    flex-direction: column;
    justify-items: start;
}
.footer__menu {
    display: flex;
    align-self: center;
    justify-self: center;
    margin-top: -26px;
    text-decoration: none;
}
.footer__menu-list {
    list-style: none;
    display: grid;
    margin-bottom: 6px;
}
.footer__menu-list-item {   
    text-align: center;
}
.footer__menu-link {
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.footer__menu-link_active {
    text-decoration: none;
    font-size: 18px;
}
.footer__social-list {
    display: flex;
    gap: 48px;
    justify-self: end;
}
.footer__social-list-item {
    display: flex;
}
.footer__social-icon {
    width: 48px;
    height: 48px;
}